# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# vim temp files
*~

# Mac OSX files
*.DS_Store

# per-user XCode project data
JMPlayer/JMPlayer.xcodeproj/xcuserdata/
JMPlayer/JMPlayer.xcodeproj/project.xcworkspace/xcuserdata/

JMPlayer-Bundle/JMPlayer-Bundle.xcodeproj/xuserdata/
JMPlayer-Bundle/JMPlayer-Bundle.xcodeproj/project.xcworkspace/xcuserdata/

# XCode compile directories
*/build/
*/DerivedData/
