# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Mac OSX files
*.DS_Store

# per-user XCode project data
*xcuserstate
JMPlayer/JMPlayer.xcodeproj/xcuserdata*
