# MPlayer-1.1 build ignore files
DOCS/xml/en/main.xml
DOCS/xml/html-chunk.xsl
DOCS/xml/html-single.xsl
config.h
config.log
config.mak
cpuinfo
codec-cfg
codecs.conf.h
ffmpeg/.config
ffmpeg/config.asm
ffmpeg/config.h
ffmpeg/config.mak
ffmpeg/libavutil/avconfig.h
ffmpeg/.version
ffmpeg/libavcodec/codec_names.h
ffmpeg/version.h
help_mp.h
mencoder
mplayer
version.h
*.swp
*.d
